.c-hero {
  position: relative;
  padding: 0px 0 180px 0;
  text-align: center;

  @include iota-breakpoint(sm) {
    padding: 20px 0 300px 0;
  }
}

.c-hero__illustration svg {
  position: absolute;
  width: 100%;
  max-width: $iota-objs-container-size-default;
  height: auto;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;

  g {
    fill: $color-blue;
  }
}
