footer.c-footer.u-pv-x8
  .c-footer.o-container
    small.c-footer__disclaimer.o-type-18
      | Made with love &
      .c-link.c-social
        a.c-link(href='https://github.com/lecoueyl/weaverjs') Github
        a.c-link(href='https://nodejs.org') NodeJS
        a.c-link(href='http://gulpjs.com') Gulp
        a.c-link(href='https://pugjs.org') Pug
        a.c-link(href='https://iotacss.com') iotaCSS
