extends /extends/layout

block variables
  - var title = "Weaverjs | Spin static web page straightaway";
  - var description = "Use the best of nodejs to build the sharpest html, css and javascript";
  - var keywords = "weaverjs,nodejs,gulp,pug,sass,iotacss,build-automation,javascript,es6-javascript,bem,boilerplate,html,babel,html,css,static";

block content
  main(role='main')
    section.c-hero.u-bgcolor-white
      .o-container
        h1.o-type-58.u-color-black.u-weight-normal.u-mb-x4.o-fade-in(class='[ u-mb@sm ]')
          |Spin static web page straightaway
        p.o-type-26.u-mb-x8.o-fade-in
          |Use the best of nodejs to build the sharpest html, css and javascript
        a.c-button.c-button--primary.c-button--shadow.o-fade-in(href='https://github.com/lecoueyl/weaverjs')
          |view on github
      .c-hero__illustration
        include ../../svg/illustration-town.svg
