$type-18: ( 18px, $baseline-x3 );

$type-20: (
  null: ( 18px, $baseline-x3 ),
  sm: ( 20px, $baseline-x4 )
);

$type-26: (
  null: ( 22px, $baseline-x4 ),
  sm: 26px
);

$type-58: (
  null: ( 38px, $baseline-x5 ),
  sm: ( 58px, $baseline-x8 )
);
